@import '../../styles/variables';

.header {
  background-color: $secondary-color;
  padding: 1rem 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .buttons {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    margin-left: auto;
  }

  .title {
    font-size: 2rem;
    font-weight: 900;
    margin-right: 2rem;
    color: #FFFFFF;
  }


  .btn {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.3s ease;
    color: #FFFFFF;
    border: 2px solid white;

    &-primary {
      background-color: $primary-color;

      &:hover {
        background-color: darken($primary-color, 10%);
      }
    }

    &-secondary {
      background-color: $primary-color;

      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }
}

.main-content {
  background-color: $primary-color;
  min-height: 100vh;
  padding: 2rem 0;
  color: #FFFFFF;

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .benefits {
    text-align: center;

    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
      color: #FFFFFF;
    }

    &-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
    }

    .benefit-card {
      background-color: $secondary-color;
      padding: 2rem;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
      border: 2px solid white;
      color: #FFFFFF;

      &:hover {
        transform: translateY(-5px);
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      p {
        line-height: 1.6;
      }
    }
  }
}
